    <div id="home">
        <div id="carouselExampleControls" class="carousel slide d-flex justify-content-center" data-bs-ride="carousel">
          <div class="carousel-inner" style="height: min(35vw, 43vh);">
            <div class="carousel-item active">
              <img src="images/earth.jpg" class="d-block w-100" alt="EcoVenture">
            </div>
            <div class="carousel-item">
              <img src="images/windrad.jpg" class="d-block w-100" alt="EcoVenture">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>


        <div class="container my-5">
          <h1>EcoVenture - Kurz und bündig</h1>
          <h2>Um was geht's?</h2>
          <div>
            <p class="fs-5">Investieren in nachhaltige Ideen ist spannend. Unzählige Investment Plattformen, Unternehmen und Start-ups sind auf der Suche nach Investoren - sich da einen Überblick zu schaffen ist schwierig und zeitintensiv. EcoVenture ist eine Datenbank, die Klarheit schafft. Unkompliziert und gratis.</p>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col">
                <div class="card">
                  <div class="card-body">
                    <h3 class="card-title">Projekte</h5>
                    <p class="card-text">Hier listen wir spannende Projekte aus verschiedensten Kategorien in welche du investieren kannst. So findest sicher auch du ein passendes.</p>
                    <a href="projects.html" class="btn btn-primary">Zu den Projekten</a>
                  </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                  <div class="card-body">
                    <h3 class="card-title">Plattformen</h5>
                    <p class="card-text">Wir geben dir eine Übersicht über spannende Plattformen, welche dir Zugang zu interessanten Projekten ermöglichen. Schau dich einmal um.</p>
                    <a href="platforms.html" class="btn btn-primary justify-content-end">Zu den Plattformen</a>
                  </div>
                </div>
            </div>
          </div>
        </div>
    </div> <!-- end of home -->